/*
Theme Name: Name
Theme URI: http://khowebsites.com/
Author: ITC Việt
Author URI: http://itcviet.com/
Description: Theme Name is a WordPress shopping theme designed for WooCommerce. The theme is ideal for supermarkets, shopping malls or convenience stores with loads of product categories.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: text_domain
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, custom-header, custom-background, custom-menu, editor-style, featured-images, microformats, post-formats

The styleheets of Theme Name are located in assets/css.
IMPORTANT : If you write your CSS code below, it will be deleted when you'll update the theme.
*/

/*	################################################################
	CSS OVERVIEW 	

	1. IMPORT FILES
	2. GENERAL
	3. ELEMENTS
	4. HEADER
	5. FOOTER
	...

################################################################# */ 

/*==========================================================
	1. IMPORT FILES
==========================================================*/
/* Fonts */

/* Css */
@import url(libs/font-awesome/css/font-awesome.min.css);
@import url(libs/bootstrap/css/bootstrap.min.css);

/*==========================================================
	2. GENERAL
==========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body{
	font-size: 14px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #373737;
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
img{
	border:none;
	max-width:100%;	
	height: auto;
}
a{
	color:#373737;
}
a:hover{
	color: #c9a96e;
	text-decoration:none;
}
a:focus{
	text-decoration: none;
	color: inherit;
	outline: none;
}
a, 
button, 
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
	border: 1px solid #d5d5d5;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	border-radius: 0;
}
button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: #c9a96e;
	outline: none;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
	border-color: #FCD998;
}
ul li{
    list-style: none;
}

/*==========================================================
	3. ELEMENTS
==========================================================*/
.site-logo img{
    max-height: 70px;
}
.site-logo{
    width: 100px;
    float: left;
    text-align: center;
}
.menu-top li.active {
    background: #202D3C;
}
.menu-top li {
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding-top: 10px;
}
.bar-left ul li.active a,
.bar-left ul li a:hover{
    color: #fff;
    background: #202D3C;
}
.bar-left ul li a{
    color: #889CC2;
}
.bar-left ul li a{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    padding: 10px 0;
}
.bar-left{
    background: #394962;
    position: fixed;
    top: 0;
    padding-top: 70px;
    z-index: 1;
    bottom: 0;
    width: 50px;
    left: 0;
}
.site-header{
    background: #394962;
    height: 70px;
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%;
}
.menu-top li a .num-ber{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -0px;
    right: -10px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #B91111;
    border: 1px solid #fff;
    color: #fff;
}
.menu-top li a{
    position: relative;
    display: inline-block;
}
.post-mes{
    overflow: auto;
    padding-bottom: 20px;
}
.menu-top li.active i{
    color: #fff;
}
.menu-top li i{
    font-size: 40px;
    color: #889CC2;
}
.header-right .name a{
    color: #fff;
}
.header-right .name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}
.header-right .avatar {
    display: inline-block;
    text-align: center;
}
.header-right .avatar span{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}
.header-right .avatar{
    width: 40px;
    height: 40px;
    background: #FFDC87;
}
.header-right{
    width: 200px;
    float: right;
}
.header-right{
    padding-top: 15px;
}
.menu-top{
    width: calc(100% - 300px);
    float: left;
    padding-left: 50px;
}
.main-content .content-center{
    width: 40%;
    float: left;
    border-left: 1px solid #9999;
    border-right: 1px solid #999;
}
.main-content .content-right,
.main-content .content-left{
    width: 30%;
    float: left;
}
.main-content{
    padding-left: 50px;
}
.search-form {
    width: 80%;
    display: inline-block;
    margin-right: 15px;
}
.top-left .tags {
    padding-top: 5px;
    display: inline-block;
}
.top-info,
.top-left{
    background: #E6E8EA;
    padding: 5px;
    border-bottom: 1px solid #999;
    height: 50px;
}
.tags i{
    font-size: 24px;
    color: #666;
}
.search-form input[type='search']{
    border: 1px solid #e3e3e3;
    width: 100%;
}
.txtSearch {
    background-image: url(images/newicon.png);
    background-repeat: no-repeat;
    background-position: -4px -960px;
    text-indent: 25px;
    height: 32px!important;
    width: 100%;
}
.mes-avatar img{
    height: 55px;
    width: 55px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
}
.mes-avatar{
    height: 70px;
    width: 60px;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}
.mes-excerpt .mes-name{
    font-weight: bold;
}
.mes-excerpt{
    display: table-cell;
    padding: 5px;
}
.mes-item{
    position: relative;
    border-bottom: 1px solid #999;
}
.mes-lists{
    background-color: #ebeef4;
    overflow: auto;
}
.mes-time{
    position: absolute;
    top: 5px;
    right: 5px;
}
.type-mes .mes-name:before{
    content:"\f086";
}
.type-mail .mes-name:before{
    content:"\f0e0";
}
.mes-name:before{
    content: "\f075";
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    top: -2px;
    left: 0;
    color: #2a87ff;
}
.mes-name{
    position: relative;
    padding-left: 25px;
}
.top-info {
    padding-left: 15px;
}
.top-info span{
    color: #3C6DA6;
    font-size: 24px;
}
.post-time p{
    margin-bottom: 0;
}
.post-time{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.post-thumb{
    width: 100px;
    float: left;
    margin-right: 20px;
}
.post-detail{
    display: table-cell;
}
.post-content{
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}
.share-post i{
    font-size: 20px;
    color: #3C6DA6;
}
.share-post{
    position: absolute;
    top: 0;
    right: 0;
}
.post-box{
    position: relative;
}
.list-message {
    padding: 0 10px;
}
.list-message li{
    margin-top: 10px;
}
.list-message li div.message-icon img {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}
.message-user{
    vertical-align: middle;
    font-weight: 600;
    cursor: pointer;
    color: #44494e;
    text-decoration: none;
    max-width: calc(100% - 150px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
p.message{
    background-color: #ececec;
    color: #444;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    max-width: 70%;
    white-space: normal;
    display: inline-block;
    margin-bottom: 1px;
}
.list-message li.admin {
    text-align: right;
}
.list-message li.admin p.message {
    background-color: #0084ff;
    color: #fff;
    text-align: left;
}
.action .form-text textarea{
    width: 100%;
}
.action {
    padding: 10px;
    position: relative;
    border-top: solid 1px #bdbdbd!important;
    border-bottom: solid 1px #bdbdbd!important;
    margin-top: 10px;
}
.list-action li i{
    font-size: 20px;
}
.list-action {
    text-align: center;
}
.list-action li{
    padding: 0 5px;
    display: inline-block;
}
.action .form-text{
    width: 70%;
    float: left;
}
.form-action input[type='submit']{
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.form-action{
    width: 30%;
    float: left;
}
.tab-heading ul li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    border-right: 1px solid #fbfbfb;
    padding: 4.5px 0;
}
.tab-heading{
    background: #E6E8EA;
    border-bottom: 1px solid #999;
}
.img-max-width-70{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    overflow: hidden;
}
.mes-rep:before{
    content:"\f112";
    font-family: 'FontAwesome';
    color: #0084ff;
    position: absolute;
    top: 0;
    left: 0;
}
.mes-rep{
    position: relative;
    padding-left: 20px;
}
.customer{
    text-align: center;
    padding: 0 5px;
}
.view-detail-customer{
    display: block;
    margin: 10px 0;
}
.tab-content i{
    margin-right: 10px;
}
.tab-content{
    padding-top: 30px;
}
.action-btn a:last-child{
    border-right: 0;
}
.action-btn a{
    display: inline-block;
    padding: 0 2px;
    border-right: 1px solid #fff;
}
.action-btn{
    width: 100%;
    background: #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 0;
}
.info-user textarea{
    width: 100%;
    margin-top: 10px;
}
.color{
    color: #0084ff;
}
.order .btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.order{
    padding: 15px 5px;
}
.info-user{
    padding: 10px 5px;
}
.message-container .action{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #fff;
}
.message-container{
    position: relative;
}